---
import { Icon } from 'astro-icon/components';

const today = new Date();
---

<footer>
	&copy; {today.getFullYear()} Chee Yi Ong. All rights reserved.
	<div class="social-links">
		<a href="https://x.com/cheeyi" target="_blank">
			<span class="sr-only">Follow me on Twitter</span>
			<Icon name="simple-icons:twitter" width={32} height={32} />
		</a>
		<a href="https://github.com/cheeyi" target="_blank">
			<span class="sr-only">Go to my GitHub profile</span>
			<Icon name="simple-icons:github" width={32} height={32} />
		</a>
		<a href="https://linkedin.com/in/cheeyi/" target="_blank">
			<span class="sr-only">Connect with me on LinkedIn</span>
			<Icon name="simple-icons:linkedin" width={32} height={32} />
		</a>
		<a href="https://instagram.com/cheeyi" target="_blank">
			<span class="sr-only">Follow me on Instagram</span>
			<Icon name="simple-icons:instagram" width={32} height={32} />
		</a>
		<a href="https://github.com/cheeyi/cheeyi.github.io" target="_blank">
			<span class="sr-only">View source code</span>
			<Icon name="mdi:xml" width={32} height={32} />
		</a>
	</div>
</footer>
<style>
	footer {
		padding: 2em 1em 6em 1em;
		background-color: var(--bg-secondary);
		background-image: linear-gradient(var(--gray-gradient));
		background-repeat: no-repeat;
		color: rgb(var(--gray));
		text-align: center;
	}
	.social-links {
		display: flex;
		justify-content: center;
		gap: 1em;
		margin-top: 1em;
	}
	.social-links a {
		text-decoration: none;
		color: rgb(var(--gray));
		transition: all 0.3s ease;
	}
	.social-links a:hover {
		color: var(--accent);
		transform: translateY(-3px);
	}
	.social-links a::after {
		display: none;
	}
</style>
